<h3>Student Form</h3>
<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :'first_name' %><br>
  <label>Last Name:</label><br>
  <%= text_field_tag :'last_name' %><br>
  <%= submit_tag "Submit Student" %>
<% end %>
