<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by <%= display_artist(@song) %></h3>
(<%= link_to "Edit Post", edit_artist_song_path(@song.artist, @song) if @song.artist %>)
<%= link_to "All Songs", songs_path %>
