<%= form_tag students_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<% @students.each do |student| %>
  <%= render partial: 'student', locals: {student: student} %>
<% end %>
