<h1>All songs</h1>

<% @songs.each do |song| %>
  <span class=song-title><%= song.title %></span>
  <span class=song-artist><%= song.try(:artist).try(:name) %></span>
  <span class=song-genre><%= song.try(:genre).try(:name) %></span>
  <ul class=song-notes>
    <% song.try(:notes).try :each do |note| %>
      <li class=song-note><%= note.content %></li>
    <% end %>
  </ul>

<% end %>
