<div class="starter-template">
  <h1>Welcome to Pollywog Ranch!</h1>
  <p class="lead">
    Run rspec from your terminal to get started!
  </p>
  <p>
    <a href="/ponds" class="btn btn-primary">
      View Ponds
    </a>
    <a href="/frogs" class="btn btn-primary">
      View Frogs
    </a>
    <a href="/tadpoles" class="btn btn-primary">
      View Tadpoles
    </a>
  </p>
</div>