<h1><%= @patient.name %></h1>
<strong>Appointments:</strong><br />
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%= appointment.appointment_datetime.strftime('%H:%M') %>
      - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
