<h1>Student Form</h1>
<%= form_tag students_path %>
<label>First Name:</label>
<%= text_field_tag :first_name %><br />

<label>Last Name:</label>
<%= text_field_tag :last_name %><br />

<%= submit_tag "Submit Student" %>
