<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
  <label>Coupon Code:</label>
  <%= text_field_tag "coupon_code" %><br>
  <label>Store:</label>
  <%= text_field_tag "store" %>
  <br><br>
  <%= submit_tag "Submit Coupon" %>
<% end %>
