Classroom Info
<p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
</p>
