<h1>Appointment</h1>
<strong>Doctor:</strong><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
<strong>Patient:</strong><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
